<ul class="toDoList">
    <li *ngFor="let todo of todos" class="toDoItem">
        <div><input [class.disabled]="!todo.idEditedRightNow" value="{{todo.name}}"></div>
        <div><input [class.disabled]="!todo.idEditedRightNow" value="{{todo.description}}"></div>
        <p>Start time: {{todo.startTime | date : 'medium' }}</p>
        <p>End time: {{todo.endTime | date : 'medium' }}</p>
        <p >To Do is <span *ngIf='!todo.isDone'> not</span> completed</p>
        <nav>
            <button (click)="edit(todo)">Edit</button>
            <button (click)="delete(todo)">Delete</button>
        </nav>
    </li>
</ul>

<!-- <div class="toDoList">
        <div *ngFor="let todo of todos" class="toDoItem">
            <ul>
                <li>{{todo.name}}</li>
                <li>{{todo.description}}</li>
                <li>Start time: {{todo.startTime | date : 'medium' }}</li>
                <li>End time: {{todo.endTime | date : 'medium' }}</li>
                <li>Is Done: {{todo.isDone}}</li>
            </ul>
        </div>  style="pointer-events:initial"
    </div>
     -->