ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  width: 500px;
  
}

li {
  float: left;
  margin-left: 15px;
  // cursor: pointer;
  position: relative;
  background-color:#639edd;
  margin-bottom: 10px;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
}

h2 {
  margin: 8px 2px 8px 2px;
}

.disabled {
  pointer-events: none;
}
